/node_modules
/build
/out
/coverage
/bundle
/bin
/tmp-node-modules
*.tsbuildinfo
*.node
.DS_Store
tools/*
!tools/*.ts
**/.aws-cfn-storage
/oss-attribution
mise.toml
tst/e2e/autocomplete/node_modules/
tst/e2e/autocomplete/package-lock.json