.git/**
.github/**
.husky/**
.gitignore
.gitattributes
.prettierrc
.jscpd.json
src/**
tst/**
tools/**
coverage/**
out/**
node_modules/**
cfn-init/**
vendor/**
sbom/**
*.ts
tsconfig*.json
webpack.config.js
eslint.config.mjs
vitest*.config.ts
package-lock.json
CONTRIBUTING.md
CODE_OF_CONDUCT.md
ATTRIBUTION_README.md
THIRD-PARTY-LICENSES.txt
