name: Release Beta
run-name: Release Beta ${{ inputs.version }} ${{ github.actor }} ${{ github.event_name }}

on:
  workflow_dispatch:

jobs:
  create-beta-tag:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      tag: ${{ steps.version-and-tag.outputs.tag }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: 'main'
          fetch-depth: 0
          fetch-tags: true

      - name: Configure Git
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

      - name: Tag
        id: version-and-tag
        run: |
          PKG_VERSION=$(jq -r .version package.json)
          TAG="v${PKG_VERSION}-beta"

          git tag "$TAG"
          git push origin "$TAG"
          echo "Created tag from branch=$(git rev-parse --abbrev-ref HEAD), commit=$(git rev-parse HEAD), tag=$(git describe --tags --exact-match)"

          echo "tag=$TAG" >> $GITHUB_OUTPUT

  call-release:
    needs: [create-beta-tag]
    uses: ./.github/workflows/release.yml
    permissions:
      contents: write
    with:
      tag: ${{ needs.create-beta-tag.outputs.tag }}
