name: Build Matrix

on:
  workflow_call:
    outputs:
      build-matrix:
        description: "The build matrix JSON"
        value: ${{ jobs.define-matrix.outputs.build-matrix }}

jobs:
  define-matrix:
    runs-on: ubuntu-latest
    outputs:
      build-matrix: ${{ steps.set-matrix.outputs.matrix }}
    steps:
      - name: Set Matrix JSON
        id: set-matrix
        run: |
          JSON_STRING=$(cat <<EOF
          {
            "include": [
              { "runner": "ubuntu-24.04", "arch": "x64" },
              { "runner": "macos-15", "arch": "x64" },
              { "runner": "macos-15", "arch": "arm64" },
              { "runner": "windows-2022", "arch": "x64" },
            ]
          }
          EOF
          )
          
          echo "matrix<<EOF" >> $GITHUB_OUTPUT
          echo "$JSON_STRING" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
