name: Build and Test
run-name: Build and Test ${{ github.actor }} ${{ github.event_name }}

on:
  workflow_call:
    inputs:
      runs-on:
        description: 'The runner environment for the job (e.g., ubuntu-latest, windows-latest).'
        required: false
        type: string
        default: 'ubuntu-latest'

      ref:
        description: 'The Git ref to checkout.'
        required: true
        type: string

  workflow_dispatch:
    inputs:
      runs-on:
        description: 'The runner environment for the job (e.g., ubuntu-latest, windows-latest).'
        required: false
        type: string
        default: 'ubuntu-latest'

      ref:
        description: 'The Git ref to checkout.'
        required: true
        type: string

jobs:
  get-configs:
    uses: ./.github/workflows/configs.yml

  build-test-nodejs:
    needs: [get-configs]
    runs-on: ${{ inputs.runs-on }}
    steps:
      - uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref }}
          fetch-tags: true

      - name: Git Status
        shell: bash
        run: echo "Building from branch=$(git rev-parse --abbrev-ref HEAD), commit=$(git rev-parse HEAD), tag=$(git describe --tags --exact-match)"

      - name: Setup Node.js ${{ needs.get-configs.outputs.node-version }} (${{ runner.os }})
        uses: actions/setup-node@v4
        with:
          node-version: ${{ needs.get-configs.outputs.node-version }}
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Lint and Test
        if: runner.os != 'Windows'
        run: npm run lint && npm run test

  build-test-go:
    needs: [get-configs]
    runs-on: ${{ inputs.runs-on }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
        with:
          ref: ${{ inputs.ref }}
          fetch-tags: true

      - name: Git Status
        shell: bash
        run: echo "Building from branch=$(git rev-parse --abbrev-ref HEAD), commit=$(git rev-parse HEAD), tag=$(git describe --tags --exact-match)"

      - name: Setup Go ${{ needs.get-configs.outputs.go-version }} (${{ runner.os }})
        uses: actions/setup-go@v4
        with:
          go-version: ${{ needs.get-configs.outputs.go-version }}
          cache: true

      - name: Build
        shell: bash
        env:
          GOPROXY: direct
        run: go build -C ./cfn-init -v ./...

      - name: Test
        shell: bash
        env:
          GOPROXY: direct
        run: go test -C ./cfn-init -v -cover ./...
