name: Main CI

on:
  push:
    branches: [ main ]

permissions:
  contents: read

jobs:
  build-and-test:
    uses: ./.github/workflows/build-and-test.yml
    permissions:
      contents: read
    strategy:
      fail-fast: true
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
    with:
      ref: ${{ github.sha }}
      runs-on: ${{ matrix.os }}
