name: Pull Request

on:
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    uses: ./.github/workflows/build-and-test.yml
    permissions:
      contents: read
      pull-requests: write
    with:
      ref: ${{ github.sha }}
