name: Release
run-name: Release ${{ inputs.tag }}

on:
  workflow_call:
    inputs:
      tag:
        description: "The tag to release (v1.0.0-beta, v1.0.0)"
        required: true
        type: string

  workflow_dispatch:
    inputs:
      tag:
        description: "The tag to release (v1.0.0-beta, v1.0.0)"
        required: true
        type: string

jobs:
  get-configs:
    uses: ./.github/workflows/configs.yml

  get-build-matrix:
    uses: ./.github/workflows/build-matrix.yml

  version-and-tag:
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.get-version.outputs.version }}
      tag: ${{ steps.validate-tag.outputs.tag }}
      is-prerelease: ${{ steps.validate-tag.outputs.is-prerelease }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag }}
      
      - name: Get version from package.json
        id: get-version
        run: |
          VERSION=$(node -p "require('./package.json').version")
          echo "version=$VERSION" >> $GITHUB_OUTPUT
      
      - name: Validate tag matches version
        id: validate-tag
        run: |
          VERSION=${{ steps.get-version.outputs.version }}
          TAG=${{ inputs.tag }}
          
          if [[ "$TAG" == "v$VERSION" ]]; then
            echo "tag=$TAG" >> $GITHUB_OUTPUT
            echo "is-prerelease=false" >> $GITHUB_OUTPUT
          elif [[ "$TAG" =~ ^v$VERSION-[a-zA-Z0-9]+$ ]]; then
            echo "tag=$TAG" >> $GITHUB_OUTPUT
            echo "is-prerelease=true" >> $GITHUB_OUTPUT
          else
            echo "Error: Tag ($TAG) must be v$VERSION or v$VERSION-<suffix>"
            exit 1
          fi

  build-and-test:
    needs: [get-configs, get-build-matrix, version-and-tag]
    uses: ./.github/workflows/build-and-test.yml
    strategy:
      fail-fast: true
      matrix: ${{ fromJson(needs.get-build-matrix.outputs.build-matrix) }}
    with:
      ref: ${{ needs.version-and-tag.outputs.tag }}
      runs-on: ${{ matrix.runner }}
      arch: ${{ matrix.arch }}

  bundle-and-release:
    needs: [get-configs, get-build-matrix, version-and-tag, build-and-test]
    permissions:
      contents: write
    strategy:
      fail-fast: true
      matrix: ${{ fromJson(needs.get-build-matrix.outputs.build-matrix) }}
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.version-and-tag.outputs.tag }}

      - name: Setup Node.js ${{ needs.get-configs.outputs.node-version }} (${{ matrix.runner }}-${{ matrix.arch }})
        uses: actions/setup-node@v4
        with:
          node-version: ${{ needs.get-configs.outputs.node-version }}
          cache: 'npm'
          architecture: ${{ matrix.arch }}

      - name: Setup Go ${{ needs.get-configs.outputs.go-version }} (${{ matrix.runner }}-${{ matrix.arch }})
        uses: actions/setup-go@v4
        with:
          go-version: ${{ needs.get-configs.outputs.go-version }}
          cache: true

      - name: Install Dependencies
        run: npm ci

      - name: Bundle
        shell: bash
        run: |
          if [[ "${{ needs.version-and-tag.outputs.is-prerelease }}" == "true" ]]; then
            npm run bundle:beta
          else
            npm run bundle:prod
          fi

      # - name: Bundle Go
        # shell: bash
        # run: npm run build:go:prod

      - name: Set release asset name
        id: set-asset-name
        shell: bash
        run: |
          APP_NAME=${{ needs.get-configs.outputs.app-name }}
          VERSION=${{ needs.version-and-tag.outputs.tag }}
          OS=${{ matrix.runner }}
          ARCH=${{ matrix.arch }}

          ASSET_NAME="${APP_NAME}-${VERSION}-${OS}-${ARCH}.zip"
          echo "ASSET_NAME=${ASSET_NAME}"
          echo "ASSET_NAME=${ASSET_NAME}" >> $GITHUB_OUTPUT

      - name: Create Zip (Unix)
        if: runner.os != 'Windows'
        env:
          ASSET_NAME: ${{ steps.set-asset-name.outputs.ASSET_NAME }}
        run: |
          echo "Creating zip: ${{ env.ASSET_NAME }}"
          (cd ./bundle/production && zip -r ../../${{ env.ASSET_NAME }} .)
          ls -la

      - name: Create Zip (Windows)
        if: runner.os == 'Windows'
        env:
          ASSET_NAME: ${{ steps.set-asset-name.outputs.ASSET_NAME }}
        run: |
          echo "Creating zip: ${{ env.ASSET_NAME }}"
          Compress-Archive -Path ./bundle/production/* -DestinationPath ./${{ env.ASSET_NAME }}
          dir

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        env:
          ASSET_NAME: ${{ steps.set-asset-name.outputs.ASSET_NAME }}
        with:
          tag_name: ${{ needs.version-and-tag.outputs.tag }}
          prerelease: ${{ needs.version-and-tag.outputs.is-prerelease }}
          files: ${{ env.ASSET_NAME }}
          generate_release_notes: true
          fail_on_unmatched_files: true
