name: Release

on:
  workflow_call:
    inputs:
      branch:
        description: 'The branch that has been promoted and is ready for release.'
        required: true
        type: string

      tag-suffix:
        description: "A suffix to append to the version tag (e.g., '-beta')."
        required: false
        type: string
        default: ''

      is-prerelease:
        description: 'Whether to mark the GitHub release as a pre-release.'
        required: true
        type: boolean

jobs:
  get-configs:
    uses: ./.github/workflows/configs.yml

  get-build-matrix:
    uses: ./.github/workflows/build-matrix.yml

  build-and-test:
    needs: [get-configs, get-build-matrix]
    uses: ./.github/workflows/build-and-test.yml
    strategy:
      fail-fast: true
      matrix: ${{ fromJson(needs.get-build-matrix.outputs.build-matrix) }}
    with:
      ref: ${{ inputs.branch }}
      runs-on: ${{ matrix.runner }}
      arch: ${{ matrix.arch }}

  version-and-tag:
    runs-on: ubuntu-latest
    needs: [get-configs, build-and-test]
    permissions:
      contents: write
    outputs:
      tag: ${{ steps.version-and-tag.outputs.tag }}
      version: ${{ steps.version-and-tag.outputs.version }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: '${{ inputs.branch }}'
          fetch-depth: 0

      - name: Create Tag
        id: version-and-tag
        run: |
          VERSION=$(jq -r .version package.json)
          FULL_TAG="v${VERSION}${{ inputs.tag-suffix }}"
          
          if git rev-parse "$FULL_TAG" >/dev/null 2>&1; then
            echo "::error::Git tag $FULL_TAG already exists."
            exit 1
          fi

          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"

          echo "Creating tag $FULL_TAG..."
          git tag -a "$FULL_TAG" -m "Release $FULL_TAG"
          git push origin "$FULL_TAG"

          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "tag=$FULL_TAG" >> $GITHUB_OUTPUT

  release:
    needs: [get-configs, get-build-matrix, version-and-tag]
    permissions:
      contents: write
    strategy:
      fail-fast: true
      matrix: ${{ fromJson(needs.get-build-matrix.outputs.build-matrix) }}
    runs-on: ${{ matrix.runner }}
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ needs.version-and-tag.outputs.tag }}

      - name: Setup Node.js ${{ needs.get-configs.outputs.node-version }} ${{ inputs.runs-on }} (${{ inputs.arch }})
        uses: actions/setup-node@v4
        with:
          node-version: ${{ needs.get-configs.outputs.node-version }}
          cache: 'npm'
          architecture: ${{ needs.get-configs.outputs.arch }}

      - name: Setup Go ${{ needs.get-configs.outputs.go-version }} ${{ inputs.runs-on }}
        uses: actions/setup-go@v4
        with:
          go-version: ${{ needs.get-configs.outputs.go-version }}
          cache: true

      - name: Install Dependencies
        run: npm ci

      - name: Bundle
        run: npm run bundle:${{ inputs.branch }}

      # - name: Bundle Go
        # run: npm run build:go:prod

      - name: Set release asset name
        id: set-asset-name
        shell: bash
        run: |
          APP_NAME=${{ needs.get-configs.outputs.app-name }}
          VERSION=${{ needs.version-and-tag.outputs.version }}
          OS=${{ matrix.os }}
          ARCH=${{ matrix.arch }}

          ASSET_NAME="${APP_NAME}-${{needs.version-and-tag.outputs.version}}${{ inputs.tag-suffix }}-${OS}-${ARCH}.zip"
          echo "ASSET_NAME=${ASSET_NAME}" >> $GITHUB_OUTPUT
          echo "ASSET_PATH=./${ASSET_NAME}" >> $GITHUB_OUTPUT
      
      - name: Create Zip 
        shell: bash
        env:
          ASSET_NAME: ${{ steps.set-asset-name.outputs.ASSET_NAME }}
        run: |
          echo "Creating zip: $ASSET_NAME"
          if [[ "$RUNNER_OS" == "Windows" ]]; then
            powershell -Command "Compress-Archive -Path 'bundle/production/*' -DestinationPath '$env:ASSET_NAME'"
          else
            zip -r "$ASSET_NAME" bundle/production
          fi

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ needs.version-and-tag.outputs.tag }}
          prerelease: ${{ inputs.is-prerelease }}
          files: ${{ steps.set-asset-name.outputs.ASSET_PATH }}
          generate_release_notes: true
          fail_on_unmatched_files: true
